*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #2C3E50;
}

.TITRE
{
    font-size: 40px;
    text-align: center;
    color: #C1BDD3;
    margin: 40px;
}

.TITRE:hover
{
    color: #FFFFFF;
}

.titreart
{
    text-align: center;
    color: #000000;
    background-color: #5DACAB;
}

.barrenav
{
    text-align: center;
    background-color: #46B29D;
    height: 50px;
    padding: 25px 0px 0 0px;
}

.navlien
{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 50px 0 50px;
}

.navlien:hover
{
    background-color: #DE5D49;
    padding: 25px 50px 32px 50px;
}

.titrepage
{
    text-align: center;
    background-color: #718596;
    color: #FFFFFF;
    margin: 15px auto;
    width: 1044px;
    padding: 5px;
}

.billet
{
    background-color: #67BDBE;
    color: #000000;
    width: 1044px;
    height: 200px;
    margin: 10px auto;
}

.btnedit
{
    height: 40px;
    margin-bottom: -20px;
    margin-top: 20px;
    margin-left: -0px;
    margin-right: -20px;
    width: 1044px;
    background-color: #5DACAB;
    color: #bededd;
    font-size: 15px;
    border: none;
}

.btnedit:hover
{
    background-color: #457F7E;
    color: #FFFFFF;
}

#texttitre
{
    margin: 5px 400px;
    resize: none;
    border: none;
}

#textarticle
{
    margin: 5px 85px;
    resize: none;
    border: none;
}

.titrecom
{
    text-align: center;
    background-color: #718596;
    color: #FFFFFF;
    margin: 60px auto;
    width: 1044px;
    padding: 5px;
}

.commentaire
{
    text-align: center;
    background-color: #67BDBE;
    color: #000000;
    width: 1044px;
    height: auto;
    margin: 0px auto;
    padding: 10px 10px 10px 10px;
    resize: none;
}

.btncom
{
    height: 40px;
    margin-bottom: -20px;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: 0px;
    width: 1064px;
    background-color: #5DACAB;
    color: #bededd;
    font-size: 15px;
    border: none;
}

.btncom:hover
{
    background-color: #457F7E;
    color: #FFFFFF;
}

#liencom
{
    color: #FFFFFF;
    text-decoration: none;
}

#liencom:hover
{
    color: black;
}

#textcom
{
    margin: 5px 85px;
    resize: none;
    border: none;
}